
<link href="~/Content/login.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bg-image.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->
<style>
    .validation-summary-errors {
        text-decoration: none;
        color: red;
        text-align: center;
        list-style-type: none;
    }

        .validation-summary-errors ul {
            list-style-type: none;
        }
</style>


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <!-- Login Form -->
        <form>

            <h1 style="color:cornflowerblue">Yönlendiriliyorsunuz...</h1>
            <hr />
            <br />
            <Br />
            <br />
            <br />
            <h3><span class="glyphicon glyphicon-ok" style="color:forestgreen"></span></h3><h3 style="color:forestgreen">BAŞARIYLA KAYIT OLDUNUZ</h3>
            <br />
            <Br />
            <br />
            <br />
            <hr />
        </form>

        <!-- Remind Passowrd -->


    </div>
</div>

<script>
    $("document").ready(function () {
        $("#footer").hide();
        setTimeout(function () {
            window.location = "/Home/Index"
        }, 5000)
    })</script>
