

<link href="~/Content/login.css" rel="stylesheet" />
<link href="~/Content/bg-image.css" rel="stylesheet" />ylesheet" />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <!-- Login Form -->
        <form>


            <hr />
            <br />
            <Br />
            <br />
            <br />
            <h2><span class="glyphicon glyphicon-ok" style="color:forestgreen"></span></h2><h2 style="color:forestgreen">Hesap Aktifleştirildi</h2>
            <br />
            <Br />
            <br />
            <br />
            <hr />
        </form>

        <!-- Remind Passowrd -->


    </div>
</div>
}
<script>
    $("document").ready(function () {
        $("#footer").hide();
        setTimeout(function () {
            window.location = "/Home/Index"
        }, 5000)
    })</script>